html    {
    display: grid;
    height: 100%;
    background-image: linear-gradient(to bottom,#45F, #F29)
}

body {
    justify-content: center;
    display: grid;
}

#hello  {
    justify-items: center;
    display: grid;
}

h1  {
    font-size: 50px;
    color: #FFF;
}

h2  {
    font-size: 30px;
    color: #FFF;
}

p {
    font-size: 26px;
    color: #FFF;
}

