<!doctype html>
<html class="no-js" lang="no">

    <head>
        <meta charset="utf-8">
        <title>Flask_Docker</title>
        <meta name="Description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS here!-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <link rel="favicon" href="">

        <!--JavaScript here!-->
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

        <!--Favicon here!-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
    </head>
    <body>
        <div id="hello">
            <h1>Hello world!</h1>

            <h2>You are now running flask in a docker container!</h2>
            <p>Served with Gunicorn through Nginx!</p>

            <img src="{{ url_for('static', filename='images/illustration.png') }}" alt="illustration" width="719" height="284">
        </div>
    </body>

</html>